div.img
    img(src="/images/logic.png")
div.text
    div.lang
        span.eng.active Eng
        span.rus Rus

    div.lang-eng
        | As it is sometimes inconvenient to transfer one-time links to different devices. Think for a moment,
        | here you find an interesting article and want to read it. It is small in size but
        | sitting at the table and it does not overpower you want to lie down on a comfortable
        | sofa with tablet ... Necessary to make reference to the following: add to favorites.
        | But here there are background circumstances. First at the plate and on your computer
        | must be set to the same browser and the same account (if we're talking about Google Chrome).
        | Then wait until the newly added link appears in the browser tablet. After reading - remove the
        | link (we wont want to clutter up our browser). The situation as it is standard and known to many.

    div.lang-rus
        | Как порой бывает неудобно передавать одноразовые ссылки на разные устройства. Задумайтесь на мгновенье,
        | вот вы находите занимательную статью и хотите ее прочитать. Она небольшого размера но сидя за столом ее
        | не осилить и хочется прилечь на удобный диван вместе с планшетом... Необходимо с ссылкой сделать следующее:
        | добавить в избранное. Но тут возникают второстепенные обстоятельства. Во первых на планшете и на компе должно
        | быть установлен одинаковый браузер и одинаковый аккаунт (если мы говорим о Google Chrome). Далее подождать
        | пока новодобавленная ссылка появится в браузере планшета. После прочтения - удалить ссылку (мы же не хотит
        | захламлять наш браузер). Ситуация как бы стандартная и многим известная.