div.img
    img(src="/images/logic.png")
div.text
    | As it is sometimes inconvenient to transfer one-time links to different devices. Think for a moment,
    | here you find an interesting article and want to read it. It is small in size but
    | sitting at the table and it does not overpower you want to lie down on a comfortable
    | sofa with tablet ... Necessary to make reference to the following: add to favorites.
    | But here there are background circumstances. First at the plate and on your computer
    | must be set to the same browser and the same account (if we're talking about Google Chrome).
    | Then wait until the newly added link appears in the browser tablet. After reading - remove the
    | link (we wont want to clutter up our browser). The situation as it is standard and known to many.
