#log-in
    form( method="post", action="/")
        div
            span
                span.label Email :
                input(type="text", name="name", id="editEmployeeTitle")
            span
                span.label Password :
                input(type="password", name="password", id="editEmployeeName")
            span#editEmployeeSubmit
                input(type="submit", value="Log In")