extends layout

block content
    h1= title
    #user
        p.lead Keep your one-time link alive.

        div.explain
              - if (userIsset == 'yes')
                  include includes/user_content
              - else
                  include includes/default
