doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src='/javascripts/init.js')
    style
        @font-face {
          font-family: 'Josefin Sans Std Light';
          font-style: normal;
          font-weight: 100;
          src: local('Josefin Sans Thin'), local('JosefinSans-Thin'), url(http://themes.googleusercontent.com/static/fonts/josefinsans/v3/q9w3H4aeBxj0hZ8Osfi3d9kWwCWWHt2eabdCtA6ddDc.woff) format('woff');
        }
  body
    .wrapper
      #head
          .content
              #logo.logo
                  img(src="/images/logo.png")
                  span.slogan Link Cache
                  span.red first alfa

              - if (userIsset == 'yes')
                  include includes/head_ok
              - else
                  include includes/head

      #content
        .content
            block content
        div#push
    include includes/footer
