doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src='/javascripts/jq.js')
    script(type="text/javascript", src='/javascripts/init.js')
    style
        @font-face {
          font-family: 'Josefin Sans Std Light';
          font-style: normal;
          font-weight: 100;
          src: url(../font/JosefinSansStd-Light.woff)
        }

        @font-face {
          font-family: 'Josefin Sans Std Light Russian';
          font-style: normal;
          font-weight: 100;
          src: url(../font/JosefinSansStd-Light.ttf)
        }
  body
    .wrapper
      #head
          .content
              #logo.logo
                  a(href="/")
                      img(src="/images/logo.png")
                      span.slogan Link Cache
                  span.red first alfa

              - if (userIsset == 'yes')
                  include includes/head_ok
              - else
                  include includes/head

      #content
        .content
            block content
        div#push
    include includes/footer
