extends layout

block content

    div.technology
        h1 The Used Technology
        div.block
            dt
              | Server:
              dd
                a(href="http://nodejs.org/")|NodeJS
        div.block
            dt
              | Fremework:
              dd
                a(href="http://expressjs.com/")|ExpressJS
        div.block
            dt
              | Templating:
              dd
                a(href="http://jade-lang.com/")|JADE
        div.block
            dt
              | ORM:
              dd
                a(href="http://www.mongodb.org/")|Mongo
        div.block
            dt
              | Style:
              dd
                a(href="http://learnboost.github.io/stylus/")|Stilus

