body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  font-size 13px
  text-align center
  text-stroke 1px rgba(255, 255, 255, 0.1)
  color #f6f6f6
  background #4d4d4d url('../images/bg.png')
  font-family Josefin Sans Std Light
  margin 0 auto
  padding 0
  height 100%
a
  color #00B7FF
html
    height 100%
body
    div.content
        width 1000px
        margin 0 auto

p
    margin: 0 0 10px;

.wrapper
    height auto !important
    min-height 100%
    margin 0 auto -60px
    height 100%

.lead
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;

#head
  height 55px
  border-bottom 1px solid #f6f6f6
  .content
    padding-top 5px
    position relative

  .logo
    width 250px
    text-align left
    float left
  .slogan
    font-size 30px
    margin-left 10px

input
    font-family Josefin Sans Std Light
    font-size: 15px;


  #log-in
    text-align right
    margin-top  10px
    span
        input
            outline none
        margin-right 10px
    input
        padding 3px 5px
        border 1px solid white
        background transparent
        color white

        outline none
    input[type=text],input[type=password]
        width 160px

     input[type=submit]
        cursor pointer

p.lead
    padding-top 1.5%
    font-size 24px
    line-height 30px

.explain
    text-align left
    min-height 310px
    .img
        float left
        margin-right 30px

    .text
        vertical-align top
        font-size 18px
        line-height 24px
        padding 20px 0

.add-link
    text-align center
    input
        padding 10px
        border-radius 5px
        font-size 20px
        font-family Josefin Sans Std Light
        border 1px solid black
        outline none

    input[type=text]
        width 500px
        border-right none
        border-top-right-radius 0
        border-bottom-right-radius 0

    input[type=submit]
        border-top-left-radius 0
        border-bottom-left-radius 0
        margin-left -1px
        color #00B7FF
        background #f6f6f6
        cursor pointer

    input[type=submit]:hover
        color black

#footer
    height 60px

#push
    height: 60px;

.links-table
    margin-top 20px
    font-size 16px
    td:first-child
        width: 110px;
        padding: 20px 0;
    td
        padding 10px 0
        .title
            padding-left 20px
            a:hover
                color white

#head .logo span.red
    font-size 12px
    color red
    position absolute